<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <display-name>MyApp5</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>udemy.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminPageController</display-name>
    <servlet-name>AdminPageController</servlet-name>
    <servlet-class>udemy.controller.AdminPageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminPageController</servlet-name>
    <url-pattern>/AdminPageController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RoleTable</display-name>
    <servlet-name>RoleTable</servlet-name>
    <servlet-class>udemy.controller.RoleTable</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoleTable</servlet-name>
    <url-pattern>/RoleTable</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GroupWorkControlleer</display-name>
    <servlet-name>GroupWorkControlleer</servlet-name>
    <servlet-class>udemy.controller.GroupWorkControlleer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GroupWorkControlleer</servlet-name>
    <url-pattern>/GroupWorkControlleer</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>UserFilter</display-name>
    <filter-name>UserFilter</filter-name>
    <filter-class>udemy.filter.UserFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UserFilter</filter-name>
    <url-pattern>/UserFilter</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>AdminFilter</display-name>
    <filter-name>AdminFilter</filter-name>
    <filter-class>udemy.filter.AdminFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AdminFilter</filter-name>
    <url-pattern>/AdminFilter</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>LeaderFilter</display-name>
    <filter-name>LeaderFilter</filter-name>
    <filter-class>udemy.filter.LeaderFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LeaderFilter</filter-name>
    <url-pattern>/LeaderFilter</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>TaskController</display-name>
    <servlet-name>TaskController</servlet-name>
    <servlet-class>udemy.controller.TaskController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TaskController</servlet-name>
    <url-pattern>/TaskController</url-pattern>
  </servlet-mapping>
</web-app>